html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    background-color: #eff0f3;
    color: #2a2a2a;
    position: relative;
}
.icon-phone-1 {
    font-size: 1.3rem;
}
.navbar-contact-email {
    font-size: 1.8rem;
    text-transform: lowercase;
    margin: 0;
;
}
.navbar-contact-email .BTeffect {
    text-shadow: none !important;

}
.bg-light {
    background-color: #eff0f3;
    color: #2a2a2a;
}
.plusdinfo img {
    opacity: 0.95;
}
.rico {
    color: white;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    color:  #2a2a2a;
    font-weight: bold;
    opacity: 0.85;
}
nav {
    min-height: 5rem;
    background-color: #abd1c6;
}
#myNavBar span {
  
    text-shadow: -0.5px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.navbar-brand {
    font-size: 3rem;
    line-height: 2rem;
    padding-top: ;
}
.eightythree {
    color: #ff8e3c;
    opacity: 0.6;
    font-size: 70%;
}
.dark83 {
    color: #2a2a2a;
    opacity: 1;
    font-size: 80%;
}
nav li {
    padding-left: 2rem;
}
.heightblock {
    height: 4.4rem;
    background-color: transparent;
}
#carouselAcceuil {
    z-index: -1;
    opacity: 0.85;
    width: 100%;
    height: 10%;
    overflow: hidden;
}
@media screen and (min-width: 935px) {
    .carousel-wrapper #carouselAcceuil #acceuil video {
        width: 100%;
    }
}
@media screen and (min-width: 0px) and (max-width: 767px) {
    /* .carousel-wrapper .overlaying-text .sub-text2 {
        display: none;
    } */
    .carousel-wrapper #carouselAcceuil #acceuil video {
        height: 35rem;
    }
    #nosservices .card-body span {
        text-align: center;
        font-size: 2.2rem;
    }
}
@media screen and (min-width: 767px) and (max-width: 935px) {
    .carousel-wrapper #carouselAcceuil #acceuil video {
        height: 35rem;
    }
}
/* @media screen and (min-width: 0px) and (max-width: 735px) {
.carousel-wrapper .overlaying-text .sub-text3 {
    display: none;
}
} */
.carousel-wrapper {
    color: white;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
}
.overlaying-text {
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    line-height: 1.2;
    font-size: 3rem;
}
.p-brand {
    font-weight: bold;
    font-size: 6rem;
}

a {
    text-decoration: none;
    color: #2a2a2a;
    transition: all 0.2s ease;
    opacity: 0.95;
}
a:hover {
    color: #ff8e3c;
    transform: scale(1.02);
}
.btn-warning:hover {
    background-color: #ff8e3c;
}
.btn-warning:visited {
    background-color: #ff8e3c;
}
span {
    color: #ff8e3c;
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link {
    color: #2a2a2a;
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #ff8e3c;
}
.box-top {
    background-color: #ff8e3c;
}
.box-top p,
.box-top h1 {
    color: #fffffe;
    margin: 0;
    line-height: 2rem;
}
.nosservicestitle {
    font-size: 3rem;
}
.nosservices .card-header {
    background-color: #ff8e3c;
    letter-spacing: 0.4rem;
}
.nosservices .card-header span {
    color: #fffffe;
}
.card {
    border-radius: 5px;
    margin: 2rem;
}
.box {
    padding: 2rem;
}
.overlaying-text small {
    color: #2a2a2a;
    font-weight: bold;
    opacity: 0.75;
}
.nosservices .card-body span {
    display: block;
    color: #2a2a2a;
    font-weight: normal;
}
.card-body ul li {
    list-style-type: none;
}
.blockquote {
    font-size: 1.6rem;
}
.plusdinfo {
    background-color: #ff8e3c;
}
.card-header {
    font-size: 1.7rem;
}

.plusdinfo {
    overflow: hidden;
}
.plusdinfotext {
    text-align: center;
}
.plusdinfo .card-body p {
    font-size: 1.45rem;
}
.plusdinfotext .card {
    max-height: 35rem;
    max-width: 50rem;
    overflow: auto;
    padding: 1rem;
}
.plusdinfo .card {
    border-radius: inherit;
}
.plusdinfo .card .myButton {
    color: #fffffe;
    font-weight: bold;
    padding: 0.6rem;
    border-radius: 10px;
    background-color: #ff8e3c;
    border: #ff8e3c;
    text-decoration: none;
}
.footer {
    background-color: #ff8e3c;
    margin: 0;
    padding: 0;
    width: 100%;
    /* line-height: 1rem; */
    color: #fffffe;
}
.footer p {
    margin: 0;
    padding: 0;
}
.footer .col h2 {
    font-size: 2rem;
}
.footer .darkshade {
    color: #2a2a2a;
}
.footer .col {
    padding: 1rem;
}
.myCardHeader {
    font-size: 1.8rem;
}

.plusdinfotext .blockquote-footer {
    color: #fffffe;
    margin: 0;
}
.btn-warning {
    font-size: 1.2rem;
    color: #fffffe;
    background-color: #ff8e3c;
    transition: all 0.3s ease;
    border: #ff8e3c;
}
.btn-warning:hover {
    transform: scale(0.95);
    color: #fffffe;
    background-color: #ff8e3c;
}
.wrapper {
    max-width: 35rem;
    width: 100%;
    border-radius: 0.5rem;
    text-align: center;
    margin: 3rem;
}
.wrapper span {
    color: #2a2a2a;
}
.wrapper h2 {
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: #ff8e3c;
    font-weight: bold;
}
.wrapper .input_field {
    margin-bottom: 0.1rem;
}
.wrapper .input_field input[type="text"],
.wrapper textarea {
    width: 100%;
    border: 0.1rem solid #e0e0e0;
    padding: 0.5rem;
}
.wrapper .input_field input[type="text"] {
    margin-bottom: 0.5rem;
}
.wrapper textarea {
    height: 8rem;
    resize: none;
}
.wrapper .btn {
    width: 100%;
}
.wrapper .btn input[type="submit"] {
    color: #fffffe;
    border: 0;
    margin-top: 1.5rem;
    padding: 1rem;
    width: 100%;
    background: #ff8e3c;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-weight: bold;
    border-radius: 2.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.wrapper .btn input[type="submit"]:hover {
    transform: scale(0.985);
}
.wrapper #error_message {
    margin-bottom: 2rem;
    padding: 0rem;
    background: #fe8b8e;
    text-align: center;
    font-size: 1.4rem;
    transition: all 0.5s ease;
}
.formulaire .wrapper h2 {
    font-size: 2.5rem;
}
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    background-color: #ff8e3c;
    color: #fffffe;
    border-radius: inherit;
    padding-right: 2rem;
    padding-left: 2rem;
}
.blockquote-footer {
    background-color: #ff8e3c;
}
